<manifest package="com.rudderstack.android.integration.branch">

    <application>
        <!--        <receiver-->
        <!--            android:name="io.branch.referral.InstallListener"-->
        <!--            android:exported="true"-->
        <!--            android:permission="Track installation for better performance">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.android.vending.INSTALL_REFERRER" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
    </application>
</manifest>
